*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'roboto', sans-serif;
}


.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 24px;
    text-align: center;
    color:#F9FAF8;
}

.header h1{
    font-size: 32px;
    color:#F9FAF8;
}

.header-right , .header-left{
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    gap: 12px;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(146, 139, 139);
    padding: 12px;
}

.hero{
    display: flex;
    justify-content: center;
    flex:1;
    gap:16px;
    padding: 24px;
    margin-bottom: 48px;
    background-color: #1F2937;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 16px;
    padding: 24px;
    width: 600px;
}

.hero-left h2{
    Font-size: 48px;
    Color: #F9FAF8;
    font-weight: 900;
    text-align: left;
}
.hero-left p{
    color: #E5E7EB;
    font-size: 18px;
}

.hero-right{
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}
.button{
    color: white;
    background-color: #3882F6;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.content-items{
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 24px 0;
    flex-wrap: wrap;
    margin:48px;
}
    

.content-items img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid #3882F6;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0;
    width: 150px;
    text-align: center;
}

.content-h3{
    font-size: 32px;
    color: #1F2937;
    text-align: center;
    margin-bottom: 24px;
}

.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: #E5E7EB;
}
.quote{
    background-color: #E5E7EB;
    padding: 24px;
    text-align: justify;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    width: 1000px;
}
#thor{
    font-size: 24px;
    color: #1F2937;
    font-weight: 600;
    font-style: normal;
    margin-top: 12px;
    text-align: right;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px;
}
.call-to-action-banner{
    background-color: #3882F6;;
    padding: 24px;
    text-align: center;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    border-radius: 8px;
    
}

.call-to-action h4{
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 600;
}

.call-to-action p{
    font-size: 16px;
    color: #F9FAF8;
    font-weight: 400;
    margin-bottom: 12px;
}

.call-to-action button{
    color: white;
    background-color: #3882F6;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #F9FAF8;
}

.banner-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 24px;
}